// app global css in SCSS form
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

button {
  outline: none;
}

body {
  background-color: #f8fafd;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}
